.header {
  cursor: pointer;
}

.input-wrapper {
  width: 100%;
}

.messages-container {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;

  &:before {
    flex: 1 1 auto;
  }
}

.message {
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 3px 0;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;

  &-user {
    align-self: flex-start;
    text-align: right;
    border-color: #a9a9a9;
  }

  &-cs {
    align-self: flex-end;
    border-color: #3F51B5
  }
}
